<%- include('partials/header.ejs'); %>
    <body>
        <%- include('partials/navbar.ejs'); %>

        <!-- JS -->
        <script src="/public/script/script.js"></script>
    </body>

<%- include('partials/footer.ejs'); %>